@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
  --primary: rgba(0, 102, 255, 1);
  --pure-white-ffffff: rgba(255, 255, 255, 1);
  --white-2-fafafa: rgba(250, 250, 250, 1);
  --success-65c18c: rgba(101, 193, 140, 1);
  --yellow-ffc805: rgba(255, 200, 5, 1);
  --bg-gradients-linear: rgba(255, 255, 255, 0.85);
  --primaryprimary-50: rgba(230, 240, 255, 1);
  --primaryprimary-100: rgba(176, 208, 255, 1);
  --primaryprimary-200: rgba(138, 185, 255, 1);
  --primaryprimary-300: rgba(84, 152, 255, 1);
  --primaryprimary-400: rgba(51, 133, 255, 1);
  --primaryprimary-500: rgba(0, 102, 255, 1);
  --primaryprimary-600: rgba(0, 93, 232, 1);
  --primaryprimary-700: rgba(0, 72, 181, 1);
  --primaryprimary-800: rgba(0, 56, 140, 1);
  --primaryprimary-900: rgba(0, 43, 107, 1);
  --neutralneutral-50: rgba(237, 238, 240, 1);
  --neutralneutral-100: rgba(198, 202, 209, 1);
  --neutralneutral-200: rgba(170, 177, 186, 1);
  --neutralneutral-300: rgba(132, 141, 155, 1);
  --neutralneutral-400: rgba(108, 119, 135, 1);
  --neutralneutral-500: rgba(71, 85, 105, 1);
  --neutralneutral-600: rgba(65, 77, 96, 1);
  --neutralneutral-700: rgba(50, 60, 75, 1);
  --neutralneutral-800: rgba(39, 47, 58, 1);
  --neutralneutral-900: rgba(30, 36, 44, 1);
  --white: rgba(255, 255, 255, 1);
  --accent: rgba(91, 64, 255, 1);
  --display-font-family: "General Sans", Helvetica;
  --display-font-weight: 700;
  --display-font-size: 70px;
  --display-letter-spacing: 0px;
  --display-line-height: 120.00000476837158%;
  --display-font-style: normal;
  --heading-1-m-font-family: "General Sans", Helvetica;
  --heading-1-m-font-weight: 500;
  --heading-1-m-font-size: 72px;
  --heading-1-m-letter-spacing: 0px;
  --heading-1-m-line-height: 120.00000476837158%;
  --heading-1-m-font-style: normal;
  --heading-1-font-family: "General Sans", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 60px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 120.00000476837158%;
  --heading-1-font-style: normal;
  --heading-2-font-family: "General Sans", Helvetica;
  --heading-2-font-weight: 500;
  --heading-2-font-size: 56px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 120.00000476837158%;
  --heading-2-font-style: normal;
  --heading-3-font-family: "General Sans", Helvetica;
  --heading-3-font-weight: 500;
  --heading-3-font-size: 40px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 120.00000476837158%;
  --heading-3-font-style: normal;
  --heading-4-font-family: "General Sans", Helvetica;
  --heading-4-font-weight: 400;
  --heading-4-font-size: 30px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 120.00000476837158%;
  --heading-4-font-style: normal;
  --heading-5-font-family: "General Sans", Helvetica;
  --heading-5-font-weight: 500;
  --heading-5-font-size: 24px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 120.00000476837158%;
  --heading-5-font-style: normal;
  --body-l-b-font-family: "Manrope", Helvetica;
  --body-l-b-font-weight: 700;
  --body-l-b-font-size: 20px;
  --body-l-b-letter-spacing: 0px;
  --body-l-b-line-height: 150%;
  --body-l-b-font-style: normal;
  --body-l-m-font-family: "Manrope", Helvetica;
  --body-l-m-font-weight: 600;
  --body-l-m-font-size: 20px;
  --body-l-m-letter-spacing: 0px;
  --body-l-m-line-height: 150%;
  --body-l-m-font-style: normal;
  --body-l-font-family: "Manrope", Helvetica;
  --body-l-font-weight: 500;
  --body-l-font-size: 20px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 150%;
  --body-l-font-style: normal;
  --body-b-font-family: "Manrope", Helvetica;
  --body-b-font-weight: 700;
  --body-b-font-size: 16px;
  --body-b-letter-spacing: 0px;
  --body-b-line-height: 150%;
  --body-b-font-style: normal;
  --body-SM-font-family: "Manrope", Helvetica;
  --body-SM-font-weight: 600;
  --body-SM-font-size: 16px;
  --body-SM-letter-spacing: 0px;
  --body-SM-line-height: 150%;
  --body-SM-font-style: normal;
  --body-m-font-family: "Manrope", Helvetica;
  --body-m-font-weight: 500;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 150%;
  --body-m-font-style: normal;
  --body-r-font-family: "Manrope", Helvetica;
  --body-r-font-weight: 400;
  --body-r-font-size: 16px;
  --body-r-letter-spacing: 0px;
  --body-r-line-height: 150%;
  --body-r-font-style: normal;
  --bodysmall-sm-font-family: "Manrope", Helvetica;
  --bodysmall-sm-font-weight: 600;
  --bodysmall-sm-font-size: 14px;
  --bodysmall-sm-letter-spacing: 0px;
  --bodysmall-sm-line-height: 150%;
  --bodysmall-sm-font-style: normal;
  --body-too-small-r-font-family: "Manrope", Helvetica;
  --body-too-small-r-font-weight: 400;
  --body-too-small-r-font-size: 12px;
  --body-too-small-r-letter-spacing: 0px;
  --body-too-small-r-line-height: 150%;
  --body-too-small-r-font-style: normal;
  --body-too-small-m-font-family: "Manrope", Helvetica;
  --body-too-small-m-font-weight: 500;
  --body-too-small-m-font-size: 12px;
  --body-too-small-m-letter-spacing: 0px;
  --body-too-small-m-line-height: 150%;
  --body-too-small-m-font-style: normal;
  --heading-5-SM-font-family: "General Sans", Helvetica;
  --heading-5-SM-font-weight: 400;
  --heading-5-SM-font-size: 24px;
  --heading-5-SM-letter-spacing: 0px;
  --heading-5-SM-line-height: 120.00000476837158%;
  --heading-5-SM-font-style: normal;
  --display-108-font-family: "General Sans", Helvetica;
  --display-108-font-weight: 500;
  --display-108-font-size: 108px;
  --display-108-letter-spacing: 0px;
  --display-108-line-height: 120.00000476837158%;
  --display-108-font-style: normal;
  --10: 0px 35px 45px 0px rgba(7, 14, 39, 0.05);
  --drop-shadow: 10px 25px 100px 0px rgba(0, 43, 107, 0.25);
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.website {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 7645px;
  align-items: center;
  position: relative;
  background-color: var(--pure-white-ffffff);
}

.hero {
  position: relative;
  width: 1440px;
  height: 920px;
  background-color: var(--pure-white-ffffff);
  overflow: hidden;
}

.hero .shape {
  position: absolute;
  top: 768px;
  left: 0;
  width: 1440px;
  height: 152px;
  background-color: var(--white-2-fafafa);
}

.hero .backgroudn-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 768px;
}

.hero .content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 145px;
  left: calc(50% - 423px);
}

.hero .top-chips {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--pure-white-ffffff);
  border-radius: 24px;
  border: none;
}

.hero .top-chips::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(
    180deg,
    rgba(252, 253, 255, 1) 0%,
    rgba(240, 245, 255, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.hero .div {
  position: relative;
  width: 24px;
  height: 24px;
}

.hero .group {
  position: relative;
  width: 83.33%;
  height: 79.17%;
  top: 10.42%;
  left: 8.33%;
}

.hero .vector {
  position: absolute;
  width: 95%;
  height: 81.58%;
  top: 14.47%;
  left: -3.75%;
}

.hero .img {
  position: absolute;
  width: 75%;
  height: 100%;
  top: -3.95%;
  left: 21.25%;
}

.hero .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #002b6b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.hero .title {
  position: relative;
  width: 846px;
  font-family: "General Sans-Medium", Helvetica;
  font-weight: 500;
  color: #002b6b;
  font-size: 72px;
  text-align: center;
  letter-spacing: 0;
  line-height: 86.4px;
}

.hero .paragraph {
  position: relative;
  width: 430px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #414d60;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.hero .navbar {
  display: flex;
  width: 1453px;
  align-items: center;
  justify-content: center;
  gap: 170px;
  padding: 12px 102px;
  position: absolute;
  top: 23px;
  left: calc(50% - 726px);
  backdrop-filter: blur(70px) brightness(100%);
  -webkit-backdrop-filter: blur(70px) brightness(100%);
}

.hero .logo {
  position: relative;
  width: 187px;
}

.hero .navbar-2 {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.hero .menu-default {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-r-font-family);
  font-weight: var(--body-r-font-weight);
  color: var(--neutralneutral-800);
  font-size: var(--body-r-font-size);
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  white-space: nowrap;
  font-style: var(--body-r-font-style);
}

.hero .button {
  all: unset;
  box-sizing: border-box;
  justify-content: center;
  gap: 16px;
  padding: 4px 4px 4px 24px;
  border-color: var(--pure-white-ffffff);
  backdrop-filter: blur(5px) brightness(100%);
  -webkit-backdrop-filter: blur(5px) brightness(100%);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  border: 1px solid;
}

.hero .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-b-font-family);
  font-weight: var(--body-b-font-weight);
  color: var(--pure-white-ffffff);
  font-size: var(--body-b-font-size);
  letter-spacing: var(--body-b-letter-spacing);
  line-height: var(--body-b-line-height);
  white-space: nowrap;
  font-style: var(--body-b-font-style);
}

.hero .iconoir-arrow-up {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  background-color: var(--pure-white-ffffff);
  border-radius: 100px;
  overflow: hidden;
}

.hero .system-arrow-right {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-bottom: -12px;
  margin-left: -12px;
  margin-right: -12px;
}

.hero .group-2 {
  position: relative;
  width: 50.09%;
  height: 50.09%;
  top: 25%;
  left: 24.93%;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.hero .frame {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 474px;
  left: calc(50% - 329px);
}

.hero .input {
  display: flex;
  width: 499px;
  align-items: center;
  gap: 16px;
  padding: 16px 8px 16px 24px;
  position: relative;
  background-color: var(--neutral-10);
  border-radius: 56px;
  border: 1px solid;
  border-color: var(--neutral-30);
  box-shadow: 8px 8px 56px #0000000d;
}

.hero .search {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.hero .icon {
  position: absolute;
  width: 75%;
  height: 75%;
  top: 8.33%;
  left: 8.33%;
}

.hero .text-wrapper-3 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-m-font-family);
  font-weight: var(--body-m-font-weight);
  color: var(--neutralneutral-300);
  font-size: var(--body-m-font-size);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  font-style: var(--body-m-font-style);
}

.hero .vector-2 {
  position: relative;
  align-self: stretch;
  width: 1px;
}

.hero .location {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.hero .icon-2 {
  position: absolute;
  width: 66.67%;
  height: 80.47%;
  top: 8.33%;
  left: 12.5%;
}

.hero .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Manrope-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutralneutral-300);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.hero .div-wrapper {
  all: unset;
  box-sizing: border-box;
  gap: 8px;
  padding: 16px 48px;
  background-color: #0066ff;
  border-color: var(--primary);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  border: 1px solid;
}

.hero .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutral-10);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.hero .photo-frame {
  position: absolute;
  top: 582px;
  left: 421px;
  width: 287px;
  height: 338px;
  display: flex;
  background-color: #e1e9fe;
  border-radius: 20px;
  overflow: hidden;
}

.hero .photo {
  width: 287px;
  height: 338px;
  object-fit: cover;
}

.hero .photo-wrapper {
  left: 109px;
  width: 288px;
  background-color: #f3efd0;
  position: absolute;
  top: 582px;
  height: 338px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.hero .photo-2 {
  width: 288px;
  height: 338px;
  object-fit: cover;
}

.hero .img-wrapper {
  left: 732px;
  width: 288px;
  background-color: #ebf5d5;
  position: absolute;
  top: 582px;
  height: 338px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.hero .photo-frame-2 {
  left: 1355px;
  width: 288px;
  background-color: #ebf5d5;
  position: absolute;
  top: 582px;
  height: 338px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.hero .photo-3 {
  width: 85px;
  height: 338px;
  object-fit: cover;
}

.hero .photo-frame-3 {
  left: 1044px;
  width: 287px;
  background-color: #ffeed1;
  position: absolute;
  top: 582px;
  height: 338px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.hero .photo-frame-4 {
  left: -202px;
  width: 287px;
  background-color: #ffeed1;
  position: absolute;
  top: 582px;
  height: 338px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.hero .photo-4 {
  width: 85px;
  height: 338px;
  margin-left: 202px;
  object-fit: cover;
}

.website .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 88px 100px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white-2-fafafa);
}

.website .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.website .discover-the {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 482px;
  margin-top: -1px;
  font-family: "General Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutralneutral-900);
  font-size: 56px;
  text-align: center;
  letter-spacing: 0;
  line-height: 67.2px;
}

.website .text-wrapper {
  position: relative;
  width: 388px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralneutral-600);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.website .tabs {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--neutralneutral-100);
}

.website .tab-default {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.website .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.website .img {
  position: absolute;
  width: 66.67%;
  height: 66.67%;
  top: 13.54%;
  left: 13.54%;
}

.website .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #6c7787;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.website .tab-active {
  align-self: stretch;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--primary);
  background: linear-gradient(
    180deg,
    rgba(230, 240, 255, 0) 50%,
    rgba(230, 240, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.website .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-m-font-family);
  font-weight: var(--body-m-font-weight);
  color: #0066ff;
  font-size: var(--body-m-font-size);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  white-space: nowrap;
  font-style: var(--body-m-font-style);
}

.website .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-r-font-family);
  font-weight: var(--body-r-font-weight);
  color: var(--neutralneutral-400);
  font-size: var(--body-r-font-size);
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  white-space: nowrap;
  font-style: var(--body-r-font-style);
}

.website .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .frame-3 {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  padding: 24px 16px;
  background-color: var(--pure-white-ffffff);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--neutralneutral-50);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.website .frame-4 {
  display: flex;
  flex-direction: column;
  width: 185px;
  align-items: center;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.website .avatar {
  width: 64px;
  height: 64px;
  position: relative;
  object-fit: cover;
}

.website .frame-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  flex: 0 0 auto;
}

.website .iconoir-star-solid {
  position: relative;
  width: 15px;
  height: 15px;
}

.website .vector {
  position: absolute;
  width: 83.32%;
  height: 79.17%;
  top: 10.42%;
  left: 8.35%;
}

.website .element {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 400;
  color: var(--neutralneutral-800);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.website .span {
  font-weight: var(--bodysmall-sm-font-weight);
  font-family: var(--bodysmall-sm-font-family);
  font-style: var(--bodysmall-sm-font-style);
  letter-spacing: var(--bodysmall-sm-letter-spacing);
  line-height: var(--bodysmall-sm-line-height);
  font-size: var(--bodysmall-sm-font-size);
}

.website .text-wrapper-5 {
  font-family: var(--body-too-small-r-font-family);
  font-size: var(--body-too-small-r-font-size);
  line-height: var(--body-too-small-r-line-height);
  font-style: var(--body-too-small-r-font-style);
  font-weight: var(--body-too-small-r-font-weight);
  letter-spacing: var(--body-too-small-r-letter-spacing);
}

.website .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .name {
  align-self: stretch;
  font-family: var(--body-l-b-font-family);
  font-weight: var(--body-l-b-font-weight);
  color: var(--neutralneutral-900);
  text-align: center;
  position: relative;
  margin-top: -1px;
  font-size: var(--body-l-b-font-size);
  letter-spacing: var(--body-l-b-letter-spacing);
  line-height: var(--body-l-b-line-height);
  font-style: var(--body-l-b-font-style);
}

.website .positions {
  position: relative;
  align-self: stretch;
  font-family: var(--body-too-small-r-font-family);
  font-weight: var(--body-too-small-r-font-weight);
  color: var(--neutralneutral-500);
  font-size: var(--body-too-small-r-font-size);
  text-align: center;
  letter-spacing: var(--body-too-small-r-letter-spacing);
  line-height: var(--body-too-small-r-line-height);
  font-style: var(--body-too-small-r-font-style);
}

.website .frame-7 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .apps-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--neutralneutral-50);
}

.website .apps {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-too-small-m-font-family);
  font-weight: var(--body-too-small-m-font-weight);
  color: var(--neutralneutral-700);
  font-size: var(--body-too-small-m-font-size);
  letter-spacing: var(--body-too-small-m-letter-spacing);
  line-height: var(--body-too-small-m-line-height);
  white-space: nowrap;
  font-style: var(--body-too-small-m-font-style);
}

.website .vector-2 {
  position: absolute;
  top: 73px;
  left: 163px;
  width: 12px;
  height: 12px;
}

.website .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  padding: 24px 16px;
  background-color: #e6f0ff;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #8ab9ff;
  box-shadow: var(--drop-shadow);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.website .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--primaryprimary-200);
}

.website .vector-3 {
  position: absolute;
  top: 49px;
  left: 110px;
  width: 12px;
  height: 12px;
}

.website .cards-2 {
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.website .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 4px 4px 4px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1px;
  background-color: var(--pure-white-ffffff);
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--primaryprimary-200);
  backdrop-filter: blur(5px) brightness(100%);
  -webkit-backdrop-filter: blur(5px) brightness(100%);
}

.website .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-b-font-family);
  font-weight: var(--body-b-font-weight);
  color: var(--primary);
  font-size: var(--body-b-font-size);
  letter-spacing: var(--body-b-letter-spacing);
  line-height: var(--body-b-line-height);
  white-space: nowrap;
  font-style: var(--body-b-font-style);
}

.website .iconoir-arrow-up {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  background-color: var(--primary);
  border-radius: 100px;
  overflow: hidden;
}

.website .system-arrow-right {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-bottom: -12px;
  margin-left: -12px;
  margin-right: -12px;
}

.website .group {
  position: relative;
  width: 50.09%;
  height: 50.09%;
  top: 25%;
  left: 24.93%;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.website .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  padding: 88px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .frame-9 {
  display: flex;
  flex-direction: column;
  width: 534px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.website .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: "General Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutralneutral-900);
  font-size: 56px;
  text-align: center;
  letter-spacing: 0;
  line-height: 67.2px;
}

.website .text-wrapper-7 {
  position: relative;
  width: 502px;
  font-family: var(--body-m-font-family);
  font-weight: var(--body-m-font-weight);
  color: var(--neutralneutral-600);
  font-size: var(--body-m-font-size);
  text-align: center;
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  font-style: var(--body-m-font-style);
}

.website .frame-10 {
  position: relative;
  width: 635px;
  height: 635px;
}

.website .circle {
  top: calc(50% - 318px);
  left: calc(50% - 318px);
  width: 636px;
  height: 636px;
  background-color: #0066ff0a;
  border-radius: 318px;
  border-color: var(--primaryprimary-100);
  position: absolute;
  border: 0.48px solid;
}

.website .circle-2 {
  top: calc(50% - 266px);
  left: calc(50% - 266px);
  width: 532px;
  height: 532px;
  background-color: #0066ff0d;
  border-radius: 266px;
  border-color: var(--primaryprimary-200);
  position: absolute;
  border: 0.48px solid;
}

.website .circle-3 {
  top: calc(50% - 204px);
  left: calc(50% - 204px);
  width: 408px;
  height: 408px;
  background-color: #0066ff12;
  border-radius: 204px;
  border-color: var(--primary);
  position: absolute;
  border: 0.48px solid;
}

.website .circle-4 {
  top: calc(50% - 144px);
  left: calc(50% - 143px);
  width: 286px;
  height: 286px;
  background-color: #0066ff57;
  border-radius: 143px;
  border-color: #0066ff;
  position: absolute;
  border: 0.48px solid;
}

.website .arrow {
  position: absolute;
  top: 12px;
  left: 556px;
  width: 75px;
  height: 46px;
  transform: rotate(165deg);
}

.website .vector-4 {
  position: absolute;
  top: 5px;
  left: 2px;
  width: 74px;
  height: 36px;
  transform: rotate(-165deg);
}

.website .vector-5 {
  position: absolute;
  top: 0;
  left: 21px;
  width: 2px;
  height: 2px;
  transform: rotate(-165deg);
}

.website .vector-6 {
  position: absolute;
  top: 2px;
  left: 13px;
  width: 3px;
  height: 14px;
  transform: rotate(-165deg);
}

.website .vector-7 {
  position: absolute;
  top: 45px;
  left: 48px;
  width: 6px;
  height: 2px;
  transform: rotate(-165deg);
}

.website .arrow-2 {
  position: absolute;
  top: 538px;
  left: 6px;
  width: 95px;
  height: 65px;
  display: flex;
  flex-direction: column;
  background-image: url(./img/vector-23.svg);
  background-size: 100% 100%;
}

.website .vector-8 {
  margin-left: 59.7px;
  width: 4.42px;
  height: 6.63px;
  margin-top: 20px;
}

.website .vector-9 {
  margin-left: 62.6px;
  width: 1px;
  height: 2.1px;
  margin-top: 1.7px;
}

.website .vector-10 {
  margin-left: 3.8px;
  width: 1.41px;
  height: 1.87px;
  margin-top: 2.9px;
}

.website .vector-11 {
  margin-left: 5.5px;
  width: 13.79px;
  height: 9.83px;
  margin-top: 1.6px;
}

.website .vector-12 {
  margin-left: 61.8px;
  width: 14.57px;
  height: 2.63px;
  margin-top: 10.7px;
}

.website .frame-11 {
  position: absolute;
  top: 8px;
  left: 458px;
  width: 460px;
  height: 292px;
}

.website .frame-12 {
  position: absolute;
  top: 112px;
  left: 458px;
  width: 460px;
  height: 428px;
}

.website .frame-13 {
  position: absolute;
  top: 75px;
  left: -264px;
  width: 460px;
  height: 428px;
}

.website .frame-14 {
  position: absolute;
  top: 325px;
  left: -264px;
  width: 460px;
  height: 293px;
}

.website .video {
  position: absolute;
  top: calc(50% - 286px);
  left: calc(50% - 175px);
  width: 349px;
  height: 572px;
  background-color: var(--pure-white-ffffff);
  border-radius: 20px;
  overflow: hidden;
}

.website .element-person-woman {
  position: absolute;
  top: calc(50% - 310px);
  left: 0;
  width: 349px;
  height: 620px;
  background: linear-gradient(
    180deg,
    rgba(0, 43, 107, 0) 65%,
    rgba(0, 43, 107, 0.5) 93%
  );
}

.website .text-wrapper-8 {
  position: absolute;
  top: 511px;
  left: calc(50% - 80px);
  font-family: "General Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--pure-white-ffffff);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.website .frame-15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 88px 305px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white-2-fafafa);
}

.website .frame-16 {
  display: flex;
  flex-direction: column;
  width: 657px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.website .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-r-font-family);
  font-weight: var(--body-r-font-weight);
  color: var(--neutralneutral-600);
  font-size: var(--body-r-font-size);
  text-align: center;
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  font-style: var(--body-r-font-style);
}

.website .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .frame-18 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 60px;
}

.website .digital-currency {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  box-shadow: var(--10);
}

.website .div-3 {
  flex: 1;
  width: 60px;
  position: relative;
}

.website .rectangle {
  position: absolute;
  width: 103.33%;
  height: 103.33%;
  top: 0;
  left: 0;
  background-color: var(--white);
  border-radius: 30px;
}

.website .bitmap {
  position: absolute;
  width: 73.33%;
  height: 66.67%;
  top: 16.67%;
  left: 13.33%;
}

.website .digital-currency-2 {
  position: absolute;
  top: 0;
  left: 110px;
  width: 60px;
  height: 60px;
  box-shadow: var(--10);
  background-image: url(./img/RIT.png);
  background-size: 100% 100%;
}

.website .ACDC-wrapper {
  position: absolute;
  top: 0;
  left: 220px;
  width: 60px;
  height: 60px;
  display: flex;
  box-shadow: var(--10);
}

.website .combined-shape {
  position: absolute;
  width: 73.33%;
  height: 73.33%;
  top: 15%;
  left: 13.33%;
}

.website .digital-currency-3 {
  position: absolute;
  top: 0;
  left: 330px;
  width: 60px;
  height: 60px;
  box-shadow: var(--10);
  background-image: url(./img/FSN.png);
  background-size: 100% 100%;
}

.website .digital-currency-4 {
  position: absolute;
  top: -10px;
  left: 395px;
  width: 150px;
  height: 150px;
}

.website .digital-currency-5 {
  position: absolute;
  top: 0;
  left: 550px;
  width: 58px;
  height: 60px;
  box-shadow: var(--10);
  background-image: url(./img/vector-9.svg);
  background-size: 100% 100%;
}

.website .digital-currency-6 {
  position: absolute;
  top: -10px;
  left: 613px;
  width: 150px;
  height: 150px;
}

.website .spotify-wrapper {
  position: absolute;
  top: 0;
  left: 768px;
  width: 60px;
  height: 60px;
  display: flex;
  background-color: #23d05f;
  border-radius: 30px;
  box-shadow: var(--10);
}

.website .spotify {
  margin-top: 17px;
  width: 26px;
  height: 26px;
  margin-left: 17px;
}

.website .frame-19 {
  position: relative;
  width: 720px;
  height: 60px;
}

.website .digital-currency-7 {
  position: absolute;
  top: -10px;
  left: 615px;
  width: 150px;
  height: 150px;
}

.website .digital-currency-8 {
  position: absolute;
  top: -10px;
  left: 505px;
  width: 150px;
  height: 150px;
}

.website .digital-currency-9 {
  position: absolute;
  top: 0;
  left: 440px;
  width: 60px;
  height: 60px;
  box-shadow: var(--10);
  background-image: url(./img/CRP.png);
  background-size: 100% 100%;
}

.website .image-wrapper {
  position: absolute;
  top: 0;
  left: 330px;
  width: 60px;
  height: 60px;
  display: flex;
  background-color: var(--white);
  border-radius: 60px;
  overflow: hidden;
  box-shadow: var(--10);
}

.website .image {
  flex: 1;
  width: 60px;
  object-fit: cover;
}

.website .digital-currency-10 {
  position: absolute;
  top: -10px;
  left: 175px;
  width: 150px;
  height: 150px;
}

.website .digital-currency-11 {
  position: absolute;
  top: -10px;
  left: 65px;
  width: 150px;
  height: 150px;
}

.website .digital-currency-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  box-shadow: var(--10);
  background-image: url(./img/lct.png);
  background-size: 100% 100%;
}

.website .frame-20 {
  position: relative;
  width: 610px;
  height: 60px;
}

.website .dropbox-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  background-color: var(--accent);
  border-radius: 30px;
  box-shadow: var(--10);
}

.website .dropbox {
  margin-top: 17px;
  width: 31px;
  height: 26.26px;
  margin-left: 14px;
  background-image: url(./img/combined-shape-2.svg);
  background-size: 100% 100%;
}

.website .path-wrapper {
  position: absolute;
  top: 0;
  left: 110px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutralneutral-900);
  border-radius: 30px;
  box-shadow: var(--10);
}

.website .path {
  margin-top: -0.4px;
  height: 26.73px;
  margin-left: 2.9px;
  width: 22.87px;
}

.website .twitter-wrapper {
  position: absolute;
  top: 0;
  left: 220px;
  width: 60px;
  height: 60px;
  display: flex;
  background-color: #1d9bf0;
  border-radius: 30px;
  box-shadow: var(--10);
}

.website .twitter {
  margin-top: 20px;
  width: 24.81px;
  height: 20.16px;
  margin-left: 18px;
  background-image: url(./img/white-background.svg);
  background-size: 100% 100%;
}

.website .discord-wrapper {
  position: absolute;
  top: 0;
  left: 330px;
  width: 60px;
  height: 60px;
  display: flex;
  background-color: var(--accent);
  border-radius: 30px;
  box-shadow: var(--10);
}

.website .discord {
  margin-top: 18px;
  width: 30px;
  height: 23.23px;
  margin-left: 15px;
  display: flex;
  overflow: hidden;
}

.website .group-wrapper {
  flex: 1;
  width: 120px;
  display: flex;
  overflow: hidden;
}

.website .group-2 {
  flex: 1;
  width: 120.04px;
  position: relative;
}

.website .vector-13 {
  position: absolute;
  width: 24.99%;
  height: 100%;
  top: 0;
  left: 0;
}

.website .vector-14 {
  position: absolute;
  width: 11.33%;
  height: 50.84%;
  top: -5145.46%;
  left: -10871.88%;
}

.website .vector-15 {
  position: absolute;
  width: 8.5%;
  height: 45.85%;
  top: -5139%;
  left: -10854.52%;
}

.website .vector-16 {
  position: absolute;
  width: 8.75%;
  height: 45.85%;
  top: -5138.99%;
  left: -10845.15%;
}

.website .vector-17 {
  position: absolute;
  width: 10.5%;
  height: 45.84%;
  top: -5139.01%;
  left: -10835.44%;
}

.website .vector-18 {
  position: absolute;
  width: 7.02%;
  height: 43.44%;
  top: -5138.05%;
  left: -10823.68%;
}

.website .vector-19 {
  position: absolute;
  width: 10.6%;
  height: 53.76%;
  top: -5146.91%;
  left: -10816.06%;
}

.website .vector-20 {
  position: absolute;
  width: 3.36%;
  height: 15.94%;
  top: -5148.52%;
  left: -10859.39%;
}

.website .vector-21 {
  position: absolute;
  width: 3.36%;
  height: 32.71%;
  top: -5127.09%;
  left: -10859.39%;
}

.website .digital-currency-13 {
  position: absolute;
  top: 0;
  left: 440px;
  width: 60px;
  height: 60px;
  box-shadow: var(--10);
  background-image: url(./img/lct-2.png);
  background-size: 100% 100%;
}

.website .digital-currency-14 {
  position: absolute;
  top: 0;
  left: 550px;
  width: 60px;
  height: 60px;
  box-shadow: var(--10);
  background-image: url(./img/CNG.png);
  background-size: cover;
  background-position: 50% 50%;
}

.website .rectangle-2 {
  position: absolute;
  top: 507px;
  left: 3px;
  width: 1437px;
  height: 167px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 69%
  );
}

.website .how-its-work {
  display: flex;
  width: 1440px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 88px 100px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--pure-white-ffffff);
}

.website .frame-21 {
  display: flex;
  flex-direction: column;
  width: 581px;
  align-items: flex-start;
  gap: 48px;
  position: relative;
}

.website .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "General Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutralneutral-900);
  font-size: 56px;
  letter-spacing: 0;
  line-height: 67.2px;
}

.website .frame-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .frame-23 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -75px;
  margin-right: -110px;
}

.website .frame-24 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-left: -90px;
}

.website .frame-25 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -88px;
  margin-right: -110px;
}

.website .frame-26 {
  position: relative;
  align-self: stretch;
  width: 579px;
}

.website .photo {
  left: 238px;
  width: 341px;
  height: 493px;
  position: absolute;
  top: 0;
  border-radius: 20px;
  background-image: url(./img/photo-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.website .photo-2 {
  left: 0;
  width: 214px;
  height: 339px;
  position: absolute;
  top: 0;
  border-radius: 20px;
  background-image: url(./img/photo.png);
  background-size: cover;
  background-position: 50% 50%;
}

.website .frame-27 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 363px;
  left: 0;
  background-color: var(--pure-white-ffffff);
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--neutralneutral-50);
  box-shadow: var(--drop-shadow);
}

.website .frame-28 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.website .avatar-2 {
  width: 56px;
  height: 56px;
  position: relative;
  object-fit: cover;
}

.website .avatar-3 {
  width: 56px;
  height: 56px;
  margin-left: -8px;
  position: relative;
  object-fit: cover;
}

.website .frame-29 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.website .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.44px;
  font-family: var(--body-l-b-font-family);
  font-weight: var(--body-l-b-font-weight);
  color: var(--primary);
  font-size: var(--body-l-b-font-size);
  letter-spacing: var(--body-l-b-letter-spacing);
  line-height: var(--body-l-b-line-height);
  white-space: nowrap;
  font-style: var(--body-l-b-font-style);
}

.website .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: var(--bodysmall-sm-font-family);
  font-weight: var(--bodysmall-sm-font-weight);
  color: var(--neutralneutral-600);
  font-size: var(--bodysmall-sm-font-size);
  letter-spacing: var(--bodysmall-sm-letter-spacing);
  line-height: var(--bodysmall-sm-line-height);
  white-space: nowrap;
  font-style: var(--bodysmall-sm-font-style);
}

.website .showcase {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .testimonial-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .testimonial-text-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 48px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #1e242c;
  border-radius: 20px;
  overflow: hidden;
}

.website .frame-30 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.website .text-wrapper-13 {
  width: fit-content;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--pure-white-ffffff);
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.website .img-2 {
  position: relative;
  width: 5px;
  height: 5px;
}

.website .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-l-m-font-family);
  font-weight: var(--body-l-m-font-weight);
  color: var(--neutralneutral-200);
  font-size: var(--body-l-m-font-size);
  letter-spacing: var(--body-l-m-letter-spacing);
  line-height: var(--body-l-m-line-height);
  white-space: nowrap;
  font-style: var(--body-l-m-font-style);
}

.website .working-with-master {
  position: relative;
  width: 528px;
  font-family: "General Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--pure-white-ffffff);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 48px;
}

.website .img-3 {
  position: relative;
  flex: 0 0 auto;
}

.website .element-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.website .element-2 {
  position: relative;
  left: -303px;
  width: 890px;
  height: 500px;
}

.website .faq {
  position: relative;
  width: 1440px;
  flex: 0 0 auto;
}

.website .CTA-footer {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 901px;
}

.website .footer {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  gap: 100px;
  padding: 316px 100px 48px;
  position: absolute;
  top: 196px;
  left: 0;
  background-color: var(--white-2-fafafa);
}

.website .backgroudn-gradient {
  position: absolute;
  left: calc(50% - 720px);
  bottom: -203px;
  width: 1440px;
  height: 705px;
}

.website .frame-31 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .frame-32 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.website .logo {
  position: relative;
  width: 215px;
  flex: 0 0 auto;
}

.website .corporate-head {
  position: relative;
  width: fit-content;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 400;
  color: #0066ff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.website .text-wrapper-15 {
  font-weight: 700;
  color: #282828;
}

.website .text-wrapper-16 {
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  color: #282828;
}

.website .text-wrapper-17 {
  font-family: var(--body-r-font-family);
  color: #282828;
  font-style: var(--body-r-font-style);
  font-weight: var(--body-r-font-weight);
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  font-size: var(--body-r-font-size);
}

.website .text-wrapper-18 {
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #282828;
  font-size: 18px;
  line-height: 27px;
}

.website .frame-33 {
  display: flex;
  flex-direction: column;
  width: 132px;
  align-items: flex-start;
  gap: 13px;
  position: relative;
}

.website .text-wrapper-19 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-l-b-font-family);
  font-weight: var(--body-l-b-font-weight);
  color: var(--neutralneutral-900);
  font-size: var(--body-l-b-font-size);
  letter-spacing: var(--body-l-b-letter-spacing);
  line-height: var(--body-l-b-line-height);
  font-style: var(--body-l-b-font-style);
}

.website .text-wrapper-20 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-r-font-family);
  font-weight: var(--body-r-font-weight);
  color: var(--neutralneutral-600);
  font-size: var(--body-r-font-size);
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  font-style: var(--body-r-font-style);
}

.website .frame-34 {
  display: flex;
  flex-direction: column;
  width: 190px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.website .frame-35 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}

.website .frame-36 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.website .text-wrapper-21 {
  position: relative;
  width: 400px;
  font-family: var(--body-r-font-family);
  font-weight: var(--body-r-font-weight);
  color: var(--primaryprimary-900);
  font-size: var(--body-r-font-size);
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  font-style: var(--body-r-font-style);
}

.website .CTA {
  position: absolute;
  top: -24px;
  left: 60px;
  width: 1320px;
  height: 472px;
}
