html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
}
.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.gradient-bg {
  background-image: url("./images/background-gradient.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0px); /* Starting position */
  }
  50% {
    transform: translateY(-10px); /* Move up 10px */
  }
  100% {
    transform: translateY(0px); /* Return to starting position */
  }
}

.float {
  animation: floatAnimation 6s ease-in-out infinite;
}
